# =====================
# ⚙️ .NET BACKEND
# =====================
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Configurações locais do VS Code ou Rider
.vscode/
.idea/

# Logs
*.log

# Banco local (caso crie um arquivo .db localmente em algum momento)
*.db

# =====================
# 💻 FRONTEND (React/Vite)
# =====================
node_modules/
dist/
.env
*.local

# =====================
# 🐳 DOCKER
# =====================
**/postgres-data/
docker-compose.override.yml

# =====================
# 🧼 SISTEMA
# =====================
.DS_Store
Thumbs.db
